<div class="general">
    <!-- <video class="prueba" controls  >
       <source src="../../assets/img/Comercial.mp4">
    </video>  -->
    <div class="video">
        <iframe width=1000vw height=500vh src="https://www.youtube.com/embed/Tw33Xs4Q2r4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; 
   gyroscope; picture-in-picture" allowfullscreen controls></iframe>
    </div>
    <div>
        <div class="info">
            Nombre :
            <br>
            Genero:
            <br>
            Duración:

        </div>
    </div>