.bigWrapper {
  background-color: rgba(25, 18, 87, 1);
}
.wrapper {
  padding: 2vh 2vw;
}
.movie {
  grid-column: 1 /3;
  grid-row: 1 /3;
  width: 100%;
  height: 70vh;
  z-index: -1;
}
.suggestions {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 3%;
  column-gap: 15px;
}
.movieImg {
  width: 100%;
  height: 180px;
  margin-bottom: 5%;
}
.movieImg:hover {
  cursor: pointer;
}
.movieDesc {
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.suggestionsTitle {
  grid-column: 1 /9;
  margin-bottom: 2%;
}
.fav {
  justify-self: flex-end;
}
.fav:hover {
  color: red;
}
.fav:active {
  color: red;
}

.favIcon1 {
  height: 20px;
  width: 20px;
  align-content: center;
  background-image: url(../../assets/favSection/img/redheart.png);
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 10px;
  justify-self: end;
}
.favIcon2 {
  height: 20px;
  width: 20px;
  align-content: center;
  background-image: url(../../assets/favSection/img/corazon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 10px;
  justify-self: end;
}
.favIcon1:hover {
  cursor: pointer;
}
.favIcon2:hover {
  cursor: pointer;
}
