<div class="bigWrapper">
  <app-nav></app-nav>
  <div class="wrapper">
    <div class="reproductor">
      <iframe
        src="https://www.youtube.com/embed/Tw33Xs4Q2r4"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; 
           gyroscope; picture-in-picture"
        allowfullscreen
        class="movie"
        controls
      ></iframe>
      <div class="movieDesc">
        <div>
          <p class="white rbt-300 medium">
            Nombre de la película
          </p>
          <p class="white rbt-300 ">Género: Drama</p>
          <p class="rbt-300 white">Duración: 02:02min</p>
          <p class="white rbt-300">
            Sinópsis: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Amet vitae modi molestias perspiciatis exercitationem qui commodi,
            error dolores fugiat a omnis ratione repellat deleniti saepe
            distinctio, numquam nobis quod optio.
          </p>
        </div>
        <a href="" class="fav"
          ><mat-icon aria-hidden="false">favorite</mat-icon></a
        >
      </div>
    </div>
    <div class="suggestions">
      <p class="white normal suggestionsTitle rbt-300">Te podría interesar</p>
      <div>
        <img
          src="../../assets/principal/images/comedia/ChicasMalas.jpg"
          alt=""
          class="movieImg"
        />
        <p class="rbt-300 small white">Nombre de la película</p>
        <p class="rbt-300 very-small white">Duración: 02:30min</p>
      </div>
      <div>
        <img
          src="../../assets/principal/images/comedia/ChicasMalas.jpg"
          alt=""
          class="movieImg"
        />
        <p class="rbt-300 small white">Nombre de la película</p>
        <p class="rbt-300 very-small white">Duración: 02:30min</p>
      </div>
      <div>
        <img
          src="../../assets/principal/images/comedia/ChicasMalas.jpg"
          alt=""
          class="movieImg"
        />
        <p class="rbt-300 small white">Nombre de la película</p>
        <p class="rbt-300 very-small white">Duración: 02:30min</p>
      </div>
      <div>
        <img
          src="../../assets/principal/images/comedia/ChicasMalas.jpg"
          alt=""
          class="movieImg"
        />
        <p class="rbt-300 small white">Nombre de la película</p>
        <p class="rbt-300 very-small white">Duración: 02:30min</p>
      </div>
      <div>
        <img
          src="../../assets/principal/images/comedia/ChicasMalas.jpg"
          alt=""
          class="movieImg"
        />
        <p class="rbt-300 small white">Nombre de la película</p>
        <p class="rbt-300 very-small white">Duración: 02:30min</p>
      </div>
      <div>
        <img
          src="../../assets/principal/images/comedia/ChicasMalas.jpg"
          alt=""
          class="movieImg"
        />
        <p class="rbt-300 small white">Nombre de la película</p>
        <p class="rbt-300 very-small white">Duración: 02:30min</p>
      </div>
      <div>
        <img
          src="../../assets/principal/images/comedia/ChicasMalas.jpg"
          alt=""
          class="movieImg"
        />
        <p class="rbt-300 small white">Nombre de la película</p>
        <p class="rbt-300 very-small white">Duración: 02:30min</p>
      </div>
      <div>
        <img
          src="../../assets/principal/images/comedia/ChicasMalas.jpg"
          alt=""
          class="movieImg"
        />
        <p class="rbt-300 small white">Nombre de la película</p>
        <p class="rbt-300 very-small white">Duración: 02:30min</p>
      </div>
    </div>
  </div>
</div>
