<div class="wrapper">
  <div class="picImg">
    <p class="white rbt-300 medium">¡Hola, Marcella!</p>
    <img
      src="../../assets/profile/profile_test_pic.jpg"
      class="profilePic"
      alt=""
    />
    <button class="white rbt-300 small favButton" type="submit">
      Ir a Favoritos
    </button>
    <a routerLink="/home" class="very-small rbt-300">Cerrar sesión</a>
  </div>
  <form>
    <input placeholder="Nombre" type="text" class="small rbt-300 input" />
    <input
      placeholder="Correo electrónico"
      type="email"
      class="small rbt-300 input"
    />
    <input
      placeholder="Fecha de nacimiento"
      type="date"
      class="small rbt-300 input"
    />
    <input
      placeholder="Contraseña"
      type="password"
      class="small rbt-300 input"
    />
    <input
      placeholder="Descripción (opcional)"
      type="text"
      class="small rbt-300 descriptionInput"
    />
    <button class="white rbt-300 small submitButton" type="submit">
      Actualizar
    </button>
  </form>
</div>
