.wrapper {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  padding: 5vh 3vw;

  justify-items: center;
  align-items: center;
}
.picImg {
  background-color: rgb(25, 18, 87);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  border: 1px solid lightgray;
  border-radius: 3rem;
  padding: 15px;
  margin: 10px 0;
  width: 50%;
}
.submitButton {
  border: none;
  background-color: #ff1180;
  border-radius: 5rem;
  padding: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  width: 70%;
  justify-self: end;
}
.buttonChange {
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 80%;
}
.favButton {
  border: 1px solid #ff1180;
  background-color: rgb(25, 18, 87);
  color: white;
  border-radius: 5rem;
  padding: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  width: 130px;
  justify-self: end;
}

.profilePic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 10%;
  display: block;
  margin: auto;
  border: none;
}
a {
  text-decoration: none;
  color: white;
  align-self: center;
}

.error {
  color: #ff1180;
}
nav {
  height: 70px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 0 3vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  justify-items: center;
}
.logo {
  height: 5vh;
  width: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.logIn {
  grid-column: 8 / 9;
}
a:hover {
  color: #ff1180;
}
body {
  background-image: linear-gradient(
      rgba(25, 18, 87, 0.5),
      rgba(25, 18, 87, 0.5)
    ),
    url(../../assets/profile/fondoPerfil.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-width: fit-content;
  justify-content: center;
}
div {
  color: #fff;
}
/* estilo datos del perfil css */
.datos {
  text-align: left;
  background: rgba(235, 234, 243, 0.3);
  padding: 5vh 3vw;
  height: 100%;
  min-height: 80vh;
  width: 80%;
  position: relative;
  padding: 5%;
}

.datosUsuario {
  color: rgba(255, 255, 255, 0.6);
}

div#act {
  margin: auto;
  /* margin-top: 50px; */
  margin-right: 30%;
  margin-left: 35%;
}

hr {
  height: 1px;
}
.ocultar {
  display: none;
}
.avatar {
  width: 100%;
}
