nav {
    height: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 0 3vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    justify-items: center;
  }
  .logo {
    height: 5vh;
    width: auto;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .logIn {
    grid-column: 8 / 9;
  }
 