nav {
  width: 100vw;
  height: 70px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 0 4vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  justify-items: center;
}
.logo {
  height: 5vh;
  width: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.logIn {
  grid-column: 8 / 9;
}
a:hover {
  color: #ff1180;
}
