<div class="wrapper">
  <header class="rbt-300">
    <nav>
      <img class="logo" src="../../assets/logo.png" alt="" />
      <a href="#" class="benefits">Vive la experiencia</a>
      <a href="#">Quiénes somos</a>
      <a href="#" class="logIn">Inicia sesión</a>
      <a href="#">Regístrate</a>
    </nav>
    <div class="mainText">
      <p class="big rbt-500">
        Disfruta de las <br />
        mejores películas
      </p>
      <p class="medium rbt-300">
        En cualquier lugar y en cualquier momento
      </p>
      <button type="button">Empieza ahora</button>
    </div>
  </header>
  <div class="benefitsSection">
    <video
      src="../../assets/home/videos/video.mp4"
      autoplay
      muted
      loop
      class="videoBackground"
    ></video>
    <p class="medium rbt-500">
      Todas las películas que quieres ver a tu alcance
    </p>
  </div>
</div>
