<div class="wrapper">
  <header class="rbt-300 white">
    <nav>
      <img class="logo" src="../../assets/logo.png" alt="" />
      <a href="#" class="white">Vive la experiencia</a>
      <a href="#" class="white">Quiénes somos</a>
      <a href="#" class="logIn white">Inicia sesión</a>
      <a href="#" class="white">Regístrate</a>
    </nav>
    <div class="mainText">
      <p class="big rbt-500 white">
        Disfruta de las <br />
        mejores películas
      </p>
      <p class="medium rbt-300">
        En cualquier lugar y en cualquier momento
      </p>
      <button type="button" class="small white">Empieza ahora</button>
    </div>
  </header>
  <div class="benefitsSection">
    <video
      src="../../assets/home/videos/video.mp4"
      autoplay
      muted
      loop
      class="videoBackground"
    ></video>
    <div class="benefitsText">
      <p class="medium rbt-500 benefitsTitle white">
        Todas las películas <br />
        que quieres ver a tu alcance
      </p>
      <div class="benefit">
        <img
          class="benefitImage"
          src="../../assets/home/images/beneficio1.png"
          alt=""
        />
        <p class="normal rbt-300 white">
          Mira los últimos estrenos desde un sólo lugar
        </p>
      </div>
      <div class="benefit">
        <img
          class="benefitImage"
          src="../../assets/home/images/beneficio2.png"
          alt=""
        />
        <p class="normal rbt-300 white">
          Accede desde hasta 4 dispositivos diferentes
        </p>
      </div>
      <div class="benefit">
        <img
          class="benefitImage"
          src="../../assets/home/images/beneficio3.png"
          alt=""
        />
        <p class="normal rbt-300 white">
          Marca tus películas como favoritas y accede fácilmente a ellas
        </p>
      </div>
    </div>
  </div>
</div>
