<div class="wrapper">
  <header class="rbt-300 white">
    <app-nav></app-nav>
    <div class="mainText">
      <p class="very-big rbt-500 white">
        Disfruta de las <br />
        mejores películas
      </p>
      <p class="medium rbt-300">
        En cualquier lugar y en cualquier momento
      </p>
      <a routerLink="/welcome"
        ><button type="button" class="small white">Empieza ahora</button></a
      >
    </div>
  </header>
  <div class="benefitsSection" id="benefitsAnchor">
    <video
      src="../../assets/home/videos/video.mp4"
      autoplay
      muted
      loop
      class="videoBackground"
      width="100%"
    ></video>
    <div class="benefitsText">
      <p class="big rbt-500 benefitsTitle white">
        Todas las películas <br />
        que quieres ver a tu alcance
      </p>
      <div class="benefit1">
        <img
          class="benefitImage"
          src="../../assets/home/images/beneficio1.png"
          alt=""
        />
        <p class="normal rbt-300 white benefitText">
          Mira los últimos estrenos desde un sólo lugar
        </p>
      </div>
      <div class="benefit2">
        <img
          class="benefitImage"
          src="../../assets/home/images/beneficio2.png"
          alt=""
        />
        <p class="normal rbt-300 white benefitText">
          Accede desde hasta 4 dispositivos diferentes
        </p>
      </div>
      <div class="benefit3">
        <img
          class="benefitImage"
          src="../../assets/home/images/beneficio3.png"
          alt=""
        />
        <p class="normal rbt-300 white benefitText">
          Marca tus películas como favoritas y accede fácilmente a ellas
        </p>
      </div>
    </div>
  </div>
  <div class="about" id="aboutAnchor">
    <div class="mision">
      <p class="medium rbt-500 white">Misión</p>
      <p class="normal rbt-300 white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam fuga culpa,
        ut ipsam dolor doloremque et quos repudiandae nesciunt explicabo.
      </p>
    </div>
    <div class="vision">
      <p class="medium rbt-500 white">Visión</p>
      <p class="normal rbt-300 white">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi
        voluptas repudiandae ratione quibusdam, odio error nulla neque nihil
        suscipit necessitatibus!
      </p>
    </div>
    <div class="team">
      <p class="white rbt-500 medium teamTitle">
        El equipo que lo hace posible
      </p>
      <div class="teamMember" *ngFor="let member of team">
        <img class="teamMemberPic" [src]="member.image" alt="" />
        <p class="white rbt-500 text-align-center">{{ member.name }}</p>
        <p class="white rbt-300 text-align-center">{{ member.role }}</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <img class="companyLogo" src="../../assets/eight-devs_logo.png" alt="" />
    <div class="footerLinks">
      <a href="#benefitsAnchor" class="white rbt-300">Vive la experiencia</a>
      <a href="#aboutAnchor" class="white rbt-300">Quiénes somos</a>
      <a routerLink="/welcome" class="white rbt-300"
        >¿Eres administrador? <span class="rbt-500"> Ingresa aquí </span></a
      >
    </div>
  </div>
</div>
