<form [formGroup]="actualizarPeliForm" class="formularioActuPelicula">
  <mat-form-field>
    <label class="selectFile">Título de la película</label>
    <input matInput formControlName="title" type="text" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Género</mat-label>
    <mat-select formControlName="genre">
      <mat-option *ngFor="let genre of genres" [value]="genre">
        {{ genre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <label class="selectFile">Director</label>
    <input matInput formControlName="director" type="text" />
  </mat-form-field>

  <mat-form-field>
    <label class="selectFile">Duración</label>
    <input matInput formControlName="duration" type="text" />
  </mat-form-field>

  <mat-form-field>
    <label class="selectFile">Protagonistas</label>
    <input matInput formControlName="actors" type="text" />
  </mat-form-field>

  <mat-form-field>
    <label class="selectFile">Sinópsis</label>
    <input matInput formControlName="synopsis" type="text" />
  </mat-form-field>

  <mat-slide-toggle [checked]="releaseValue" formControlName="release">
    <p class="rbt-300">Esta película es un estreno</p>
  </mat-slide-toggle>

  <button (click)="onSubmit()" class="botonGuardar small white">Guardar</button>
</form>
