.formularioActuPelicula {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
  }
  .botonGuardar {
    margin-top: 10px;
    border: none;
    width: 30%;
    height: 40px;
    align-items: center;
    background-color: #ff1180;
    border-radius: 1.5rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    -webkit-box-shadow: 6px 6px 20px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 20px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 20px -5px rgba(0, 0, 0, 0.75);
  }
  input {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 3px;
  }
  .selectFile {
    font-weight: 100;
    font-size: 14px;
    color: gray;
  }
  