mat-icon {
  font-family: "Material Icons" !important;
  color: rgba(255, 17, 128, 1);
  font-size: 24px;
}
mat-icon:hover {
  color: rgba(255, 17, 128, 0.6);
}
nav {
  height: 70px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 0 3vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}
.logo {
  height: 5vh;
  width: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.logIn {
  grid-column: 8 / 9;
  justify-self: center;
}
.userBtn {
  background-color: grey;
  border-radius: 6px;
  color: black;
}
a:hover {
  color: #ff1180;
}
.perfilWhite {
  color: white !important;
  grid-column: 9;
}
.perfilWhite:hover {
  color: #ff1180 !important;
}
.back {
  justify-self: start;
}
