<!--BARRA DE BUSQUEDA Y VISTA DE CONTENIDO-->

<div class="contain">
    <div class="row">
        Busqueda:
        <br>
        <input type="text" class="form-control" placeholder="Ingrese su busqueda">
        <br>
        <br>
        Género:
        <br>
        <select class="form-control" ng-model="busqueda.genero">
            <option value="">General</option>
            <option value="drama">Drama</option>
            <option value="romance">Romance</option>
            <option value="comedia">Comedia</option>
            <option value="anime">Anime</option>
        </select>
        <br>
    </div>
</div>