<div class="wrapper">
        <header class="rbt-300 white">

<!--BARRA DE BUSQUEDA TITULO Y FILTRO POR GENERO, VISTA DE CONTENIDO-->

<div class="contain white">
    <div class="row medium">
        Búsqueda:
        <br>
        <input type="text" class="movieSelector form-control normal" placeholder="Ingrese su búsqueda">
        Género:
        <select class="form-control normal" ng-model="busqueda.genero">
            <option value="">General</option>
            <option value="drama">Drama</option>
            <option value="romance">Romance</option>
            <option value="comedia">Comedia</option>
            <option value="anime">Anime</option>
        </select>
        <br>
        <br>
    </div>
    <!--Para reemplazar cuando este funcional-->

    <div class="peliculas rbt-500">
        <img src="../../../assets/principal/images/comedia/LaBodaDeMiMejorAmiga.jpg" alt="" class="imgPeliculas">
        <h3 class="titulo">Pelicula 1</h3>
        <p class="director">Director 1</p>
    </div>
    <div class="peliculas rbt-500">
        <img src="../../assets/principal/images/comedia/AlgoPasaConMary.jpg" alt="" class="imgPeliculas">
        <h3 class="titulo">Pelicula 2</h3>
        <p class="director">Director 2</p>
    </div>
    <div class="peliculas rbt-500">
        <img src="../../assets/principal/images/comedia/ChicasMalas.jpg" alt="" class="imgPeliculas">
        <h3 class="titulo">Pelicula 3</h3>
        <p class="director">Director 3</p>
    </div>
    <div class="peliculas rbt-500">
        <img src="../../assets/principal/images/comedia/ConFaldasYALoLoco.jpg" alt="" class="imgPeliculas">
        <h3 class="titulo">Pelicula 4</h3>
        <p class="director">Director 4</p>
    </div>
    <div class="peliculas rbt-500">
        <img src="../../assets/principal/images/comedia/CriminalesEnElMar.jpg" alt="" class="imgPeliculas">
        <h3 class="titulo">Pelicula 5</h3>
        <p class="director">Director 5</p>
    </div>
    <div class="peliculas rbt-500">
        <img src="../../assets/principal/images/comedia/DosRubiasDePeloEnPecho.jpg" alt="" class="imgPeliculas">
        <h3 class="titulo">Pelicula 1</h3>
        <p class="director">Director 1</p>
    </div>
    <div class="peliculas rbt-500">
        <img src="../../assets/principal/images/comedia/NoEsRomantico.jpg" alt="" class="imgPeliculas">
        <h3 class="titulo">Pelicula 2</h3>
        <p class="director">Director 2</p>
    </div>
    <div class="peliculas rbt-500">
        <img src="../../assets/principal/images/comedia/ScaryMovie.jpg" alt="" class="imgPeliculas">
        <h3 class="titulo">Pelicula 3</h3>
        <p class="director">Director 3</p>
    </div>
    <div class="peliculas rbt-500">
        <img src="../../assets/principal/images/comedia/TheBabySitter.jpg" alt="" class="imgPeliculas">
        <h3 class="titulo">Pelicula 4</h3>
        <p class="director">Director 4</p>
    </div>
    <div class="peliculas rbt-500">
        <img src="../../../assets/principal/images/comedia/LaBodaDeMiMejorAmiga.jpg" alt="" class="imgPeliculas">
        <h3 class="titulo">Pelicula 5</h3>
        <p class="director">Director 5</p>
    </div>