<form class="loginForm" [formGroup]="loginForm">
  <input
    placeholder="Correo electrónico"
    type="email"
    formControlName="email"
    class="very-small"
  />
  <small
    class="error"
    *ngIf="
      loginForm.get('email').hasError('required') &&
      loginForm.get('email').touched
    "
    >Ups, por favor ingresa los datos para continuar</small
  >
  <small class="error" *ngIf="loginForm.get('email').hasError('email')">
    Ingresa un correo valido
  </small>
  <br />
  <input
    placeholder="Contraseña"
    type="password"
    formControlName="password"
    class="very-small"
  />
  <small
    class="error"
    *ngIf="
      loginForm.get('password').hasError('required') &&
      loginForm.get('password').touched
    "
    >Ups, por favor ingresa los datos para continuar</small
  >
  <br />
  <button
    class="white rbt-300 small"
    type="submit"
    (click)="getUsuario(loginForm)"
    [disabled]="loginForm.invalid"
  >
    Inicia sesión
  </button>
  <p *ngIf="wrongPass != false" class="error very-small">
    ¡Ups!, los datos que ingresaste no son correctos, por favor verifica tu
    usuario y contraseña
  </p>

  <p *ngIf="noRegistrado === false" class="error">
    ¡Ups!, usuario no registrado
  </p>

  <a routerLink="/home" class="very-small rbt-300">Regresar</a>
</form>
