<div class="contenedorPopupEditUser">
  <h1 class="editarUser margin5">Editar Usuario</h1>
    <form [formGroup]="perfilForm">
        <input formControlName="name" type="text" class="small rbt-300 input" [value]="user.name" />
        <small class="error" *ngIf="
        perfilForm.get('name').hasError('required') &&
        perfilForm.get('name').touched
      ">Ups, por favor ingresa los datos para continuar</small>
        <br />
        <input formControlName="email" type="email" class="small rbt-300 input" [value]="user.email" />
        <small class="error" *ngIf="
        perfilForm.get('email').hasError('required') &&
        perfilForm.get('email').touched
      ">Ups, por favor ingresa los datos para continuar</small>
        <br />
        <input formControlName="date" type="date" class="small rbt-300 input"  [value]="user.date"/>
        <small class="error" *ngIf="
        perfilForm.get('date').hasError('required') &&
        perfilForm.get('date').touched
      ">Ups, por favor ingresa los datos para continuar</small>
        <br />
        <input formControlName="password" type="password" class="small rbt-300 input"  [value]="user.password" />
        <small class="error" *ngIf="
        perfilForm.get('password').hasError('required') &&
        perfilForm.get('password').touched
      ">Ups, por favor ingresa los datos para continuar</small>
        <br />
        <input formControlName="description" placeholder="Descripción (opcional)" type="text" class="small rbt-300 descriptionInput"  [value]="user.description"/>
        <button class="white rbt-300 small submitButton" type="submit" (click)="OnSubmit(perfilForm)" routerLink="/perfil">
            Actualizar
        </button>
    </form>
</div>
