.contenedorPopupEditUser {
  display: flex;
  flex-direction: column;
}
.contenedorPopupEditUser > input {
  margin: 1%;
}
.editarUser {
  align-self: center;
}
.margin5 {
  margin-bottom: 5px;
}
.input {
  border: 1px solid lightgray;
  border-radius: 3rem;
  padding: 15px;
  margin: 10px 0;
  width: 80%;
}
.descriptionInput {
  height: 160px;
  border: 1px solid lightgray;
  border-radius: 3rem;
  padding: 15px;
  margin: 10px 0;
  width: 50%;
}
form {
  display: flex;
  flex-direction: column;
  height: 40vh;
  padding: 15px;
  width: 100%;
  align-items: center;
}
.submitButton {
  border: none;
  background-color: #ff1180;
  border-radius: 5rem;
  padding: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  width: 40%;
  justify-self: end;
}
mat-form-field {
  width: 100%;
}
