<div class="wrapper">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let movie of releases">
      <div
        [ngStyle]="{
          'background-image':
            'linear-gradient(175deg, rgba(25,18,87,0.2553396358543417) 0%, rgba(0,0,0,0.7931547619047619) 100%) , url(' +
            movie.image +
            ')'
        }"
        class="releaseImg"
      ></div>
      <div class="carousel-caption">
        <div>
          <p class="medium rbt-500">{{ movie.title | titlecase }}</p>
          <p class="normal rbt-300">Género: {{ movie.genre }}</p>
          <p class="normal rbt-300">Duración: {{ movie.duration }}</p>
        </div>
        <button type="button" class="playMovie" routerLink="/reproductor">
          Reproducir
        </button>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
