.wrapper {
  height: calc(100vh - 70px);
}
.releaseImg {
  height: calc(100vh - 70px);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.carousel-caption {
  display: grid;
  grid-template-columns: 7fr 1fr;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 20px !important;
  height: auto;
  line-height: initial;
}
.carousel-caption > p {
  margin-bottom: 0;
  line-height: initial;
}
button {
  border: none;
  background-color: #ff1180;
  border-radius: 5rem;
  padding: 15px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  width: 80%;
  align-self: center;
  color: white;
}
.playMovie {
  align-self: baseline;
}
