<div class="admin">
  <br />
  <button class="agregarPelicula">Agregar +</button>
  <br />
  <br />
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="imagen">
      <mat-header-cell *matHeaderCellDef>
        <img
          width="20px"
          height="20px"
          src="../../assets/home/images/movie.png"
        />
      </mat-header-cell>
      <mat-cell *matCellDef="let imagen">
        <img class="cadauna" width="40px" height="30px" [src]="imagen.imagen" />
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pelicula">
      <mat-header-cell *matHeaderCellDef>Nombre Pelicula</mat-header-cell>
      <mat-cell *matCellDef="let pelicula">{{ pelicula.nombre }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="genero">
      <mat-header-cell *matHeaderCellDef>Género</mat-header-cell>
      <mat-cell *matCellDef="let genero">{{ genero.genero }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let accion"
        ><button class="botonEditar ">
          <img
            width="20px"
            height="20px"
            src="../../assets/home/images/carpeta.png"
          />
        </button>
        <br />
        <button class="botonBorrar">
          <img
            width="20px"
            height="20px"
            src="../../assets/home/images/x.png"
          />
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
  </mat-table>
</div>
