:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  width: 40vw;
}
div {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #191257;
  padding: 5vh;
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(../../assets/home/images/2467499.jpg);
  background-size: cover;
  background-position: center; */
}
input {
  color: white;
}
mat-icon {
  color: #191211;
  font-weight: 600;
}
