@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.rbt-300 {
    font-weight: 300;
}

.rbt-400 {
    font-weight: 400;
}

.rbt-500 {
    font-weight: 500;
}

.very-small {
    font-size: 12px;
}

.small {
    font-size: 16px;
}

.normal {
    font-size: 20px;
}

.medium {
    font-size: 30px;
}

.very-big {
    font-size: 70px;
}

.big {
    font-size: 50px;
}

.white {
    color: white;
}

.black {
    color: black;
}

body {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.gray {
    color: lightgray;
}