* {
  margin: 0;
  box-sizing: border-box;
}
.rbt-300 {
  font-weight: 300;
}
.rbt-400 {
  font-weight: 400;
}
.rbt-500 {
  font-weight: 500;
}
.small {
  font-size: 14px;
}
.medium {
  font-size: 30px;
}
.big {
  font-size: 60px;
}
