.formularioAgregarPelicula {
  display: flex;
  flex-direction: column;
}
.formularioAgregarPelicula > input {
  margin: 1%;
}

.botonAgregar {
  margin-top: 10px;
  border: none;
  width: 40%;
  height: 40px;
  align-items: center;
  background-color: #ff1180;
  border-radius: 1.5rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: 6px 6px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 20px -5px rgba(0, 0, 0, 0.75);
}
.botonAgregar:hover {
  box-shadow: 6px 7px 18px -3px whitesmoke;
  transform: scale(1.05);
}
input {
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 5px;
}
.error {
  color: #ff1180;
}
