.formularioAgregarPelicula {
  display: flex;
  flex-direction: column;
}
.formularioAgregarPelicula > input {
  margin: 1%;
}

.botonAgregar {
  margin-top: 10px;
  border: none;
  width: 40%;
  height: 40px;
  align-items: center;
  background-color: #ff1180;
  border-radius: 1.5rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
input {
  border-radius: 5px;
  /* border: 1px solid lightgray; */
  padding: 5px;
}
.error {
  color: #ff1180;
}
p {
  margin-bottom: 0;
}
.formTitle {
  margin-bottom: 2vh;
}