nav {
  height: 70px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 0 3vw;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.logo {
  height: 5vh;
  width: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.logIn {
  grid-column: 9 / 11;
}
.search {
  grid-column: 8/9;
}

.userBtn {
  background-color: grey;
  border-radius: 6px;
  color: black;
}
a:hover {
  color: #ff1180;
}
.perfilWhite {
  color: white !important;
}
.perfilWhite:hover {
  color: #ff1180 !important;
}
.profilePic {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-width: 0px;
  grid-row: 1/2;
  justify-self: center;
}
mat-icon {
  color: white;
  font-size: 16px;
}
mat-icon:hover {
  color: #ff1180;
  font-size: 16px;
}
.hideGender {
  display: none;
}
