nav {
    height: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 0 3vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-items: center;
}

.logo {
    height: 5vh;
    width: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.logIn {
    grid-column: 9 / 10;
}
 .search {
   grid-column: 8/9;
 }

.userBtn {
    background-color: grey;
    border-radius: 6px;
    color: black;
}

a:hover {
    color: #ff1180;
}

.perfilWhite {
    color: white !important;
}
.perfilWhite:hover {
    color: #ff1180 !important;
}
.profilePic {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border-width: 0px;
  grid-column: 10 / 11;
  grid-row: 1/2;
  margin-top: 10px
}
