<!-- FAV SECTION -->
​
<!-- <nav>hola usuario</nav> -->
<main class="main">
    <div class="title">
        <h1 class="sectionTitle rbt-500">
            Mis Favoritos
        </h1>
        <hr/>
    </div>
    <div class="moviesFav">
        <div class="fav1 ">
            <img src="../../assets/principal/images/comedia/LaBodaDeMiMejorAmiga.jpg" alt=" " class="imgFav " />
            <h1 class="nombre rbt-400">Película 1</h1>
            <div class="movieName">
                <p class="movieTitle rbt-400">nombre</p>
            </div>
        </div>
        <div class="fav2 ">
            <img src="../../assets/principal/images/comedia/LaBodaDeMiMejorAmiga.jpg" alt=" " class="imgFav " />
            <h1 class="nombre rbt-400">Película 1</h1>
            <div class="movieName">
                <p class="movieTitle rbt-400">nombre</p>
            </div>
        </div>
        <div class="fav3 ">
            <img src="../../assets/principal/images/comedia/LaBodaDeMiMejorAmiga.jpg" alt=" " class="imgFav " />
            <h1 class="nombre rbt-400">Película 1</h1>
            <div class="movieName">
                <p class="movieTitle rbt-400">nombre</p>
            </div>
        </div>
        <div class="fav4 ">
            <img src="../../assets/principal/images/comedia/LaBodaDeMiMejorAmiga.jpg" alt=" " class="imgFav " />
            <h1 class="nombre rbt-400">Película 1</h1>
            <div class="movieName">
                <p class="movieTitle rbt-400">nombre</p>
            </div>
        </div>
        <div class="fav5 ">
            <img src="../../assets/principal/images/comedia/LaBodaDeMiMejorAmiga.jpg" alt=" " class="imgFav " />
            <h1 class="nombre rbt-400">Película 1</h1>
            <div class="movieName">
                <p class="movieTitle rbt-400">nombre</p>
            </div>
        </div>
        <div class="fav6 ">
            <img src="../../assets/principal/images/comedia/LaBodaDeMiMejorAmiga.jpg" alt=" " class="imgFav " />
            <h1 class="nombre rbt-400">Película 1</h1>
            <div class="movieName">
                <p class="movieTitle rbt-400">nombre</p>
            </div>
        </div>
    </div>
    <div class="movieReproductor">
        <p class="rbt-500">Nombre película</p>
        <div class="playMovie">
            <video src="../../assets/home/videos/video.mp4" class="movie"></video>
        </div>
        <button class="botonReproducir rbt-400">Reproducir</button>
    </div>
</main>
​